@model IEnumerable<MVC.Models.Movie>

@{
    ViewBag.Title = "Movie Search";
}


<div style="width:500px;  height:150px; line-height:150px; align-content:center; margin:auto; ">



    @using (Html.BeginForm())
    {
        <div style="">
            <div style="float:left; margin:5px; ">
                @Html.TextBox("SearchString")
            </div>
            <div style="float:left; margin:5px;">
                <input type="submit" value="Search" style="height:40px;" />
            </div>
        </div>
    }
</div>


<article>
                 <div class="row" style="height:auto; margin-left:20px; margin-right:20px;  ">

                    @foreach (var item in Model)
                    {

                        <div class="3u 12u(mobile)">

                            <!-- Feature #4 -->
                            <section>
                                <div class="movie-title">   @Html.ActionLink(item.MovieName, "DetailMovie", "Home", new { movieId = item.id, youTubeId = item.YouTubeId }, new {@style = "font-weight:bold;", @class = "movie-title"}) </div>
                                @if (item.ThumbilImage!=null)
                                    {
                                        <a href="#" class="bordered-feature-image"><img src="@item.ThumbilImage" alt="" height="150" width="200" /></a>
                                        <iframe width="200" height="150" src="http://www.youtube.com/embed/@item.YouTubeId"></iframe>

                                    }   
                                
                                <p class="description" > 
                                       @item.Description
                                </p>
                            </section>

                        </div>

                    }
                </div>
  

</article>



